name: Build docker image

on:
  push:
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      #      - name: List Directory
      #        run: |
      #          ls ${{ github.workspace }}
#
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
#
#      #      - name: Log in to Docker Hub
#      #        uses: docker/login-action@v2
#      #        with:
#      #          username: ${{ secrets.DOCKER_USERNAME }}
#      #          password: ${{ secrets.DOCKER_PASSWORD }}
#
      - name: Build Docker Image
        run: |
          cd todo_project
          docker build -t todo-app:${{ github.sha }} .


      - name: Push Docker Image
        run: |
          docker tag todo-app:${{ github.sha }} taimourali/todo-app:${{ github.sha }} taimourali/todo-app:latest
          docker push taimourali/todo-app:latest
          docker push taimourali/todo-app:${{ github.sha }}

##      - name: List Directory files
##        run: ls ${{ github.workspace }}
##      - name: Gradle Version
##        run: gradle --version
##      - name: Build with Gradle
##        run: cd '${{ github.workspace }}/helpdeskbackend' && gradle build